<h1>Articles Homepage</h1>

<h4>Please click on one of the options below</h4>

<a class="btn btn-primary" asp-controller="articles" asp-action="getArticles">View All Articles</a>
<a class="btn btn-success" asp-controller="articles" asp-action="createArticle">Create New Article</a>
